# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm project files
.idea/

# Log files
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Python cache
*.cache
*.pytest_cache

# MySQL and SQLite database files
*.db
*.sqlite
*.sqlite3

# VS Code workspace settings (if using VS Code too)
.vscode/
*.xlsx
